/* SCROLL BEHAVIOR NOT COMPATIBLE WITH IE */
html {
  scroll-behavior: smooth; 
}

.content-width {
  width: 75%;
}

.section-height {
  height: 5rem;
}

@media (max-width: 575.98px) {  /* xs */
  .content-width {
    width: 90%;
  }

  .content-text-size {
    font-size: 1.6rem;
  }

  .section-height {
    height: 3rem;
  }
}