.align-text-top { 
  line-height: 100%;
}

.profile-image {
  width: 500px;
}

@media (max-width: 575.98px) {  /* xs */
  .line-one-type-size {
    font-size: 2rem;
  }

  .line-two-type-size {
    font-size: 1.5rem;
  }

  .profile-image {
    width: 300px;
  }
}