.nav-background-color {
  background-color: #eff1f4;
}

.nav-menu-item:hover {
  background-color: #d8d8da !important;
}

.remove-link-styling {
  color: inherit !important;
  text-decoration: inherit !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(55, 58, 60, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.mobile-nav {
  display: none;
}

@media (max-width: 767.98px) {  /* sm */
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }
}