.progress-bar-height {
  height: 12px;
}

.progress-bar-ani {
  /* ADD REST OF TRANSITIONS FOR BROWSER */
  -webkit-transition: width 1.3s ease-in-out;
  -moz-transition: width 1.3s ease-in-out;
  -o-transition: width 1.3s ease-in-out;
  transition: width 1.3s ease-in-out;
}